.projects-heading h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--orange);
    margin-bottom: 50px;
}

.filter-buttons {
    margin: 2rem;
    text-align: center;
}

.filter-buttons>.projects-btn {
    border: none;
    outline: none;
    background: none;
    margin-left: 1.3rem;
    cursor: pointer;
    font-size: .85rem;
    letter-spacing: .4px;
    font-weight: 500;
    color: black;
}

.filter-buttons>.projects-btn:hover {
    color: var(--orange);
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

@media screen and (max-width: 1300px) {
    .projects-gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 900px) {
    .projects-gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 750px) {
    .projects-gallery {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 520px) {
    .projects-heading h2 {
        font-size: 2rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}