@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

*{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
}

body{
    margin: 0;
}