.skills-section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--orange);
    margin-bottom: 50px;
}

.skills-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
}

.skill-card {
    position: relative;
    padding: 0 20px;
    /* border: 2px solid greenyellow; */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.skill-img {
    display: block;
    height: 80px;
    width: 80px;
    margin: auto;
    margin-top: 20px;
}

.skill-name {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    margin: 10px 0 10px;
}

@media screen and (max-width: 1070px) {
    .skills-section {
        margin-top: 60%;
    }

    .skills-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .skills-section {
        margin-top: 80%;
    }
}

@media screen and (max-width: 800px) {
    .skills-section {
        margin-top: 90%;
    }

    .skills-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .skill-card {
        padding: 0 10px;
    }
}

@media screen and (max-width:630px) {
    .skills-section {
        margin-top: 100%;
    }
}

@media screen and (max-width:580px) {
    .skills-section {
        margin-top: 120%;
    }

    .skills-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:480px) {

    .skills-section {
        margin-top: 130%;
    }

    .skill-img {
        width: 50px;
        height: 50px;
    }

    .skill-name {
        font-size: 0.6rem;
    }

    .heading {
        font-size: 2rem;
        margin-top: 70px;
    }
}

@media screen and (max-width:330px) {
    .skills-section {
        margin-top: 140%;
    }
}