.contact_form {
    display: flex;
    padding: 0 3rem;
    height: 80vh;
    margin-top: 4rem;
}

.contact_name {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact_name> :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 500;
}

.contact_name> :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: 500;
}

.app_right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    flex: 1;
}

.app_right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.user {
    width: 20rem;
    height: 2rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    padding: 0.3em;
    font-size: 16px;
}

textarea {
    height: 4rem !important;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
    background: #edd0ff;
}

.button {
    font-size: 20px;
    border-radius: 34px;
    padding: 5px 20px 8px 20px;
    cursor: pointer;
    border: none;
    flex: 2;
    background: rgb(255, 155, 23);
    color: white;
    box-shadow: 0px 20px 24px 3px rgba(255, 155, 23, 0.40);
}

.button:hover {
    background: white;
    color: var(--orange);
    border: 2px solid var(--orange);
    transition: 0.1s;
}

.app_left {
    padding: 3rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blur-right {
    top: -1rem;
    left: 9rem;
    background: var(--purple);
}

.blur-left {
    top: 13rem;
    left: -18rem;
    background: #ABF1FF94;
}

@media screen and (max-width:1070px) {
    .contact_form {
        flex-direction: column;
    }
}

@media screen and (max-width:650px) {
    .contact_name> :nth-child(1) {
        font-size: 1.6rem;
    }

    .contact_name> :nth-child(2) {
        font-size: 1.7rem;
    }

    .app_right {
        margin-top: 2rem;
    }

    .user {
        width: 17rem;
    }

    .contact_form {
        margin-bottom: 4rem;
    }
}