.app_footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
}

.app_footer img {
    width: 100%;
}

.footer_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer_icons a {
    color: white;
}

@media screen and (max-width:1070px) {
    .app_footer {
        margin-top: 100px;
    }

    .footer_content {
        gap: 2rem;
    }
}

@media screen and (max-width:650px) {
    .app_footer {
        margin-top: 0px;
    }

    .footer_content {
        gap: 1rem;
    }

    .footer_icons a>* {
        height: 40px;
        width: 40px;
    }
}